@import 'src/app/app.component.scss';

.register {

	.form-container {
		background-color: var(--ion-color-light);
		padding: 50px;
		border-radius: 8px;
	}

	ion-item {
		margin-bottom: 30px;

		&+.span-error {
			margin-top: -25px;
			margin-bottom: 10px;
		}

	}

	form:last-child>ion-item>ion-input {
		width: 95%;
	}

	#icon-eye {
		display: block;
		position: absolute;
		right: 15px;
		top: 20px;
	}

	.container-button {
		display: flex;
		justify-content: center;
		margin-top: 1rem;

		ion-button {
			width: 80%;
			margin-bottom: 20px;
		}
	}

	.login-link {
		text-align: center;
	}

}