<ion-content [fullscreen]="true" class="register">
	<ion-grid>
		<ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100vh;">
			<ion-col size="12" size-md="6" size-lg="4">
				<div class="form-container">
					<form [formGroup]="registerForm">
						<ion-item>
							<ion-input label="Fullname" labelPlacement="stacked" placeholder="John Doe"
								formControlName="fullName">
							</ion-input>
						</ion-item>
						@if (registerForm.get('fullName')?.dirty) {
						@if (registerForm.get('fullName')?.errors?.['required']) {
						<span class="span-error">FullName is required</span>
						}
						@else if (registerForm.get('fullName')?.errors?.['invalidFullName']) {
						<span class="span-error">The fullName is invalid</span>
						}
						}

						<ion-item>
							<ion-input label="E-mail" labelPlacement="stacked" placeholder="email@example.com"
								formControlName="email">
							</ion-input>
						</ion-item>
						@if (registerForm.get('email')?.dirty) {
						@if (registerForm.get('email')?.errors?.['required']) {
						<span class="span-error">Email is required</span>
						}
						@else if (registerForm.get('email')?.errors?.['invalidEmail']) {
						<span class="span-error">Your e-mail is invalid</span>
						}
						}

						<ion-item>
							<ion-input label="Phone Number" labelPlacement="stacked" placeholder="0701010101"
								formControlName="phoneNumber">
							</ion-input>
						</ion-item>
						@if (registerForm.get('phoneNumber')?.dirty) {
						@if (registerForm.get('phoneNumber')?.errors?.['required']) {
						<span class="span-error">Phone number is required</span>
						}
						@else if (registerForm.get('phoneNumber')?.errors?.['invalidPhoneNumber']) {
						<span class="span-error">Your phone number is invalid</span>
						}
						}

						<ion-item>
							<ion-input label="Password" labelPlacement="stacked" [type]="passwordType"
								placeholder="***********" formControlName="password">
							</ion-input>
							<ion-icon id="icon-eye" [name]="passwordIcon" (click)="onToggleShowPassword()"></ion-icon>
						</ion-item>
						@if (registerForm.get('password')?.dirty) {
						@if (registerForm.get('password')?.errors?.['required']) {
						<span class="span-error">Password is required</span>
						}
						@else if (registerForm.get('password')?.errors?.['weakPassword']) {
						<span class="span-error">Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one number, and one special character</span>
						}
						}

						<ion-item>
							<ion-input label="Confirm Password" labelPlacement="stacked" [type]="confirmPasswordType"
								placeholder="***********" formControlName="confirmPassword">
							</ion-input>
							<ion-icon id="icon-eye" [name]="confirmPasswordIcon"
								(click)="onToggleShowConfirmPassword()"></ion-icon>
						</ion-item>
						@if (registerForm.get('confirmPassword')?.dirty) {
						@if (registerForm.get('confirmPassword')?.errors?.['required']) {
						<span class="span-error">You need to confirm your password</span>
						}
						@else if (registerForm.get('confirmPassword')?.errors?.['passwordMismatch']) {
						<span class="span-error">Password is not the same</span>
						}
						}

						<div class="container-button">
							<ion-button size="medium" [disabled]="registerForm.invalid" (click)="onSignUp()">
								Sign Up
							</ion-button>
						</div>

						<div class="login-link">
							<a (click)="navigateToLogin()">Already have an account? Login here</a>
						</div>

					</form>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>